<header class='header'>
  <h1 class='header_title'>{{occupation}}</h1>
  <p class='header_name'>{{name}} {{lastname}}</p>
  <div class='header_info'>
    <div class='header_info_item'>
      <span
        class='icon'
        style="background-image: url('/svg/mail.svg');"
      ></span>
      <span class='header_info_text'>{{email}}</span>
    </div>
    <div class='header_info_item'>
      <span
        class='icon'
        style="background-image: url('/svg/phone.svg');"
      ></span>
      <span class='header_info_text'>{{phone}}</span>
    </div>
    <div class='header_info_item'>
      <span
        class='icon'
        style="background-image: url('/svg/point.svg');"
      ></span>
      <span class='header_info_text'>{{address}}</span>
    </div>
  </div>
</header>

<div class='content'>
  <main>
    Side
  </main>
  <aside class='aside'>
    <div class='block'>
      <span class='block_title'>Personal details</span>
      <div class='block_content'>
        <span class='block_info'>LinkedIn</span>
        <span class='block_text'>{{linkedIn}}</span>
      </div>
      <div class='block_content'>
        <span class='block_info'>GitHub</span>
        <span class='block_text'>{{site}}</span>
      </div>
    </div>
    <hr />
    <div class='block'>
      {{#with skills}}
        <span class='block_title'>{{name}}</span>
        <div class='block_list'>
          {{#each skill}}
            <span class='block_text'>{{this}}</span>
          {{/each}}
        </div>
      {{/with}}
    </div>
    <hr />
  </aside>
</div>