
<div class='row'>
  <div class="col-4">
    <div class="card h-100">
        <img src='https://picsum.photos/400/200' alt='toyota' class='rounded-img' />
        <div class="card-header">
          <h1 class=''>{{make}} <i>{{model}}</i></h1>
          <div class='p-4'>
            {{year}}
            ({{color}})
          </div>
        </div>
        <div class="card-body">
        {{#with price}}
          <h3></h3>
            <div>
              base: {{base}}
              $
            </div>
            <div>
              destination: {{destination}}
              $
            </div>
            <div>
              options: 
              {{#with options}}
                <ul>
                  <li>
                    navigation: {{navigation}}
                    $
                  </li>
                  <li>
                    moonroof: {{moonroof}}
                    $
                  </li>
                  <li>
                    premium_paint: {{premium_paint}}
                    $
                  </li>
                </ul>
              {{/with}}
            </div>
          </div>
            <div class="card-footer">
             <h2 class="p-3"> Price: {{total}} $</h2>
            </div>
        {{/with}}
    </div>
  </div>
  <div class="col-2">
    <div class="card h-100">
      <div class="card-header">
        <h2 class='p-3'>Interior</h2>
      </div>
      <div class="card-body">
        {{#with features}}  
            {{#with interior}}
              <h4>seats</h4>
              {{#with seats}}
                <div> material: {{material}}</div>
                <div>  color: {{color}}</div>
                <div>
                  any:
                  {{#if heated}} heated {{/if}}
                  ,{{#if ventilated}} ventilated {{/if}}
                </div>
              {{/with}}
              <hr />
              {{#with dashboard}}
                <h4>dashboard</h4>
                <div>
                  material:
                  {{material}}
                </div>
                <div>
                  color:
                  {{color}}
                </div>
                {{#with display}}
                  display:
                  <ul>
                    <li>
                      type:
                      {{type}}
                    </li>
                    <li>
                      size:
                      {{size}}
                    </li>
                    <li>
                      resolution:
                      {{resolution}}
                    </li>
                    <li>
                      touchscreen:
                      {{#if touchscreen}} yes {{/if}}
                    </li>
                  </ul>
                {{/with}}
              {{/with}}
              <hr />
              {{#with audio}}
                <h4>audio</h4>
                <div>
                  system: {{system}}
                </div>
                <div>
                  speakers: {{speakers}}
                </div>
                <div>
                  subwoofer: 
                  {{#if subwoofer}}yes{{/if}}
                </div>
                <div>
                  bluetooth: {{#if bluetooth}}yes{{/if}}
                </div>
                <div>
                  USB: {{#if USB}}yes{{/if}}
                </div>
            {{/with}}
          {{/with}}
      </div>
    </div>
  </div>
  <div class="col-2">
   <div class="card h-100">
    <div class="card-header">
      <h2 class='p-3'>Exterior</h2>
    </div>
    <div class="card-body">
      {{#with exterior}}
        {{#with wheels}}
          <h4>wheels</h4>
          <div>
            size: 
            {{size}}
          </div>
          <div>
            type: 
            {{type}}
          </div>
          <div>
            color: 
            {{color}}
          </div>
        {{/with}}
        <hr />
        {{#with headlights}}
          <h4>headlights</h4>
          <div>
            type: {{type}}
          </div>
          <div>
            brightness: {{brightness}}
          </div>
          <div>
            automatic:
            {{#if automatic}} yes {{/if}}
          </div>
        {{/with}}
        <hr />
        {{#with sunroof}}
          <h4>sunroof</h4>
          <div>
            type: {{type}}
          </div>
          <div>
            size: {{size}}
          </div>
          <div>
            automatic:
            {{#if automatic}} yes {{/if}}
          </div>
        {{/with}}
      {{/with}}
    </div>
  </div>
  </div>
  <div class='col-2'>
    <div class='card h-100'>
     <div class='card-header'>
      {{#with safety}}
        <h2 class="p-3">Safety </h2>
      </div>
          {{#with airbags}}
            <div class='card-body'>
            <h4>airbags </h4>{{airbags}}
            <div>
              front: {{front}}
            </div>
            <div>
              side: {{side}}
            </div>
            <div>
              knee: {{knee}}
            </div>
            <div>
              rear: {{rear}}
            </div>
          {{/with}}
            <hr />
          {{#with assistance}}
              <h4>assistance</h4>
              <div>
                blind spot monit.:
                {{#if blind_spot_monitoring}} yes {{/if}}
              </div>
              <div>
                rear cross traff. alert:
                {{#if rear_cross_traffic_alert}} yes {{/if}}
              </div>
              <div>
                lane departure warn.:{{#if
                  lane_departure_warning
                }} yes {{/if}}
              </div>
              <div>
                adaptive cruise contr.:{{#if
                  adaptive_cruise_control
                }} yes {{/if}}
              </div>
              <div>
                collision warn.:{{#if
                  collision_warning
                }} yes {{/if}}
              </div>
            {{/with}}
          {{/with}}
        {{/with}}
      </div>
    </div>
  </div>
  <div class='col-2'>
    <div class='card h-100'>
      <div class='card-header'>
        <h2 class="p-3">Engine</h2>
      </div>
          {{#with engine}}
          <div class='card-body'>
            <div>
              type: {{type}}
            </div>
            <div>
              displacement: {{displacement}}
            </div>
            <div>
              horsepower: {{horsepower}}
            </div>
            <div>
              torque: {{torque}}
            </div>
            <div>
              transmission: 
              <ul>
                <li>type:  {{transmission.type}}</li>
                <li>gears: {{transmission.gears}} </li>
              </ul>
            </div>
          {{/with}}
          <hr />
          {{#with fuel_economy}}
            <h4>fuel economy</h4>
            <div>
              city: {{city}}
            </div>
            <div>
              highway: {{highway}}
            </div>
            <div>
              combined: {{combined}}
            </div>
          {{/with}}
        </div>
    </div>
  </div>
</div>
