<div class='row'>
  <h2>{{name}}</h2>
  <hr />
  {{#each users}}
    <div class='col-6'>
      <div class='row'>
        <div class='col-12'>
          <div class='card mb-3'>
            <div class='card-header'>
              <h5>{{name}}</h5>
            </div>
            <div class='card-body'>
              <div>
                gender:
                {{gender}}
              </div>
              <div>
                age:
                {{age}}
              </div>
              <div>
                id:
                {{id}}
              </div>
            </div>
          </div>
        </div>
        {{! ---Friends--------------------------------------------------------------------------------- }}
        <div class='col-6'>
            <h3>Friends</h3>
          <div class='card p-3 mb-3'>
            
            {{#each friends}}
               <div class='card mb-3'> 
              <div class='card-header'>
                <h5>{{name}}</h5>
              </div>
              <div class='card-body'>
                <div>
                  gender:
                  {{gender}}
                </div>
                <div>
                  age:
                  {{age}}
                </div>
                <div>
                  id:
                  {{id}}
                </div>
              </div>
              <div class='p-4'> 
              <h5> Mutual friends</h5>
              {{#each mutual_friends}}
                <div class='card mb-3'>
                  <div class='card-header'>
                    <h5>{{name}}</h5>
                  </div>
                  <div class='card-body'>
                    <div>
                      gender:
                      {{gender}}
                    </div>
                    <div>
                      age:
                      {{age}}
                    </div>
                    <div>
                      id:
                      {{id}}
                    </div>
                  </div>
                </div>
                </div>
                </div> 
              {{/each}}
            {{/each}}
          </div>
        </div>
        {{! ---Friends end------------------------------------------------------------------------------ }}
        {{! ---Groups--------------------------------------------------------------------------------- }}
        <div class='col-6'>
          {{#if groups}}
            <h3>Groups</h3>
            <div class='card p-3 mb-3'> 
            {{#each groups}}
              <div class='card mb-3'>
                <div class='card-header'>
                  <h5>{{name}}</h5>
                </div>
                <div class='card-body'>
                  <div>
                    {{description}}
                  </div>
                  <div>
                    id:
                    {{id}}
                  </div>
                </div>
                <div class='p-4'>
                  <h5>Members </h5>
                  {{#each members}}
                    <div class='card mb-3'>
                      <div class='card-header'>
                        <h5>{{name}}</h5>
                      </div>
                      <div class='card-body'>
                        <div>
                          gender:
                          {{gender}}
                        </div>
                        <div>
                          age:
                          {{age}}
                        </div>
                        <div>
                          id:
                          {{id}}
                        </div>
                      </div>
                    </div>
                  {{/each}}
                </div>

              </div>
            {{/each}}
          {{/if}}
        </div>
        {{! ---Groups end------------------------------------------------------------------------------- }}
      </div>
    </div>
    </div>
  {{/each}}
</div>
</div>