<div class='row'>
  <h2>{{name}}</h2>
  <hr />
  {{#each users}}
    <div class='col-6'>
      <div class='card p-2'>
        <div class='row'>
          <div class='col-12'>
            <div class='card mb-3'>
              <div class='card-header'>
                <div class='row'>
                  <div class='col-6'>
                    <h6>{{name}} </h6>
                  </div>
                  <div class='col-6 text-end'>
                    <i> # {{id}}</i>
                  </div>
                </div>
                <div>
                  gender:
                  {{gender}}
                </div>
                <div>
                  age:
                  {{age}}
                </div>
              </div>
            </div>
          </div>
          {{! ---Friends--------------------------------------------------------------------------------- }}
          <div class='col-6'>
            <h4>Friends</h4>
            {{#each friends}}
              <div class='card mb-3'>
                <div class='card-header'>
                  <div class='row'>
                    <div class='col-6'>
                      <h6>{{name}} </h6>
                    </div>
                    <div class='col-6 text-end'>
                      <i> # {{id}}</i>
                    </div>
                  </div>
                  <div>
                    gender:
                    {{gender}}
                  </div>
                  <div>
                    age:
                    {{age}}
                  </div>
                </div>
                <div class='p-4 pe-5'>
                  <h6> Mutual friends</h6>
                  {{#each mutual_friends}}
                    <div class='card mb-3'>
                      <div class='card-header'>
                        <div class='row'>
                          <div class='col-6'>
                            <h6>{{name}} </h6>
                          </div>
                          <div class='col-6 text-end'>
                            <i> # {{id}}</i>
                          </div>
                        </div>
                        <div>
                          gender:
                          {{gender}}
                        </div>
                        <div>
                          age:
                          {{age}}
                        </div>
                      </div>
                    </div>
                  {{/each}}
                </div>
              </div>
            {{/each}}
          </div>
          {{! ---Groups--------------------------------------------------------------------------------- }}
          <div class='col-6'>
            {{#if groups}}
              <h4>Groups</h4>
              {{#each groups}}
                <div class='card mb-3'>
                  <div class='card-header'>
                    <h6>{{name}}</h6>
                  </div>
                  <div class='card-body'>
                    <div>
                      {{description}}
                    </div>
                    <div>
                      id:
                      {{id}}
                    </div>
                  </div>
                  <div class='p-4 pe-5'>
                    <h6>Members </h6>
                    {{#each members}}
                      <div class='card mb-3'>
                        <div class='card-header'>
                          <div class='row'>
                            <div class='col-6'>
                              <h6>{{name}} </h6>
                            </div>
                            <div class='col-6 text-end'>
                              <i> # {{id}}</i>
                            </div>
                          </div>
                          <div>
                            gender:
                            {{gender}}
                          </div>
                          <div>
                            age:
                            {{age}}
                          </div>
                        </div>
                      </div>
                    {{/each}}
                  </div>
                </div>
              {{/each}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>