 {{#with newsBlock}}
    {{>shoppost}}
  {{/with}}
  <hr class='my-5' />
  {{! goodsBlock___________________________________________________________ }}
  {{#with goodsBlock}}
    <div class='col-12 mb-5'>
      <div class='nav nav-tabs'>
        {{#each tabs}}
          <div class='nav-item'>
            <h5 class='nav-link {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled{{/if}}'>{{text}}</h5>
          </div>
        {{/each}}
      </div>
    </div>
    {{#each cards}}
      <div class='col-4 g-2'>
        <div class='card'>
          <img src='{{image}}' alt='' />
          <div class='card-body'>
            <h5 class='card-title'>
              {{title}}
              {{#if isHot}}
                <span
                  class='badge text-bg-warning rounded-pill'
                >
                  HOT!
                </span>
              {{/if}}
              {{#if idNew}}
                <span
                  class='badge text-bg-primary rounded-pill'
                >
                  New
                </span>
              {{/if}}
            </h5>
            <p>
              {{description}}
            </p>
          </div>
        </div>
      </div>
    {{/each}}
  {{/with}}
  <hr class='my-5' />
  {{! subscribe___________________________________________________________ }}
  {{#with subscribe}}
    <div class='col-12'>
      <div class='card text-bg-dark p-3 pe-0'>
        <div class='row'>
          <div class='col-8'>
            <h2>{{header}}</h2>
            {{description}}
          </div>
          <div class='col-3 m-3 ps-5'>
            {{#each buttons}}
              <a
                target='_blank'
                rel='{{rel}}'
                class='btn btn-primary m-2'
                href='{{link}}'
              >{{text}}</a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  {{/with}}
    {{>shopaction}}