
  {{!newsBlock________________________________________________ }}
  {{#with newsBlock}}
    <h2 class='mt-5 text-center'>{{title}}</h2>
    {{#each cards}}
      <div class='col-3 g-4'>
        <div class='card h-100 text-bg-dark'>
          <div class='card-header'>
            <h6>
              {{title}}
              {{#if isTop}}
                <span
                  class='badge text-bg-danger rounded-pill'
                >Top
                </span>
              {{/if}}
              {{#if idNew}}
                <span
                  class='badge text-bg-success rounded-pill'
                >New
                </span>
              {{/if}}
            </h6>
          </div>
          <div class='card-body'>
            {{description}}
          </div>
        </div>
      </div>
    {{/each}}
  {{/with}}
  <hr class='my-5' />
  {{! goodsBlock___________________________________________________________ }}
  {{#with goodsBlock}}
    <div class='col-12 mb-5'>
      <div class='nav nav-tabs'>
        {{#each tabs}}
          <div class='nav-item'>
            <h5 class='nav-link {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled{{/if}}'>{{text}}</h5>
          </div>
        {{/each}}
      </div>
    </div>
    {{>shopcard}}
  {{/with}}
  <hr class='my-5' />
  {{! subscribe___________________________________________________________ }}
  {{#with subscribe}}
    <div class='col-12'>
      <div class='card text-bg-dark p-3 pe-0'>
        <div class='row'>
          <div class='col-8'>
            <h2>{{header}}</h2>
            {{description}}
          </div>
          <div class='col-3 m-3 ps-5'>
            {{#each buttons}}
              <a
                target='_blank'
                rel='{{rel}}'
                class='btn btn-primary m-2'
                href='{{link}}'
              >{{text}}</a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  {{/with}}