<main>
  {{!about_us________________________________________________________________________________ }}
  <div class='h1 text-center'>{{page_header.title}}</div>
  <p class='text-center'>{{page_header.description}}</p>
    <div class="card">
      <div class='card-body'>
      {{#with section}}
        {{#with about_us.title_list}}
          <div class='display-6 text-end'>
            {{main}}
          </div>
          <div>
            <div class='h2 text-end'>{{sub}}</div> 
          </div>
          <br />
        {{/with}}
        <div>
          <button
            class='btn btn-outline-info'
          >{{about_us.button.text}}</button>
        </div>
      </div>
    </div>
  <br />
  <br>
    {{!advantage______________________________________________________________________________ }}
    {{#with advantage}}
    <div class='card'>
      <div class='card-body'>
        <div class="display-5">
        {{title}}
        </div>
        <br>
       <div class='card'>
          <div class='card-body'>
            {{#with efficiency}}
            <div class="display-4 text-lowercase">{{title}}</div>
            <div class="h6">{{sub_title}}</div>
            <p>{{description}}</p>
            <button class='btn btn-outline-warning'> {{button}}</button>
            {{/with}}
         </div>
       </div>
       <br>
        <div class='card'>
          <div class='card-body'>
            {{#with innovation}}
            <div class="display-4 text-lowercase text-center">{{title}}</div>
            <div class="h6 text-center">{{sub_title}}</div>
            <p class="text-center">{{description}}</p>
            <button class='btn btn-outline-warning'> {{button}}</button>
            {{/with}}
         </div>
       </div>
       <br>
        <div class='card'>
          <div class='card-body'>
            {{#with collaboration}}
            <div class="display-4 text-lowercase text-end">{{title}}</div>
            <div class="h6 text-end">{{sub_title}}</div>
            <p class="text-end">{{description}}</p>
            <button class='btn btn-outline-warning'> {{button}}</button>
            {{/with}}
         </div>
       </div>       
      </div>
    </div>
      
    {{/with}}
    {{!agreement_____________________________________________________________________________ }}
    {{#with agreement}}
        <div class='card'>
          <div class='card-body'>
            <div class="display-5">{{title}}</div>
              <div class='card'>
                <div class='card-body'>
                <div class="h6">{{info.sub_title}}</div>
                  <div class='card'>
                    <div class='card-body'>
                      <p>{{info.detail.text}}</p>
                      <button class='btn btn-success'>{{info.detail.button}}</button>
                  </div>
                </div>                     
              </div>
            </div>            
        </div>
      </div>
    {{/with}}
  {{/with}}
</main>