{{#with web}}
  {{#each languages}}
    <div class='col-4'>
      <div class='card h-100'>
        <div
          class='card-header'
          style='background-color: rgb(246, 233, 225);'
        >
          <h1>{{name}}</h1>
          <div>ver: {{version}}</div>
        </div>
        <div class='card-body'>
          <br />
          <div><b>{{description}}</b> </div>
          <br />
          {{! |HTML|------------------------------------------------------------------ }}
          {{#each elements}}
            <div class='card mb-3'>
              <div class='card-header'>
                <h3>{{name}}</h3>
              </div>
              <div class='card-body'>
                {{description}}
                <hr />
                <ul>
                  {{#each attributes}}
                    <li>
                      <div>
                        <strong> {{name}} </strong>
                        -
                        {{description}}
                      </div>
                      <br />
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          {{/each}}
          {{! -CSS---------------------------------------------------------------------- }}
          {{#each properties}}
            <div class='card mb-3'>
              <div class='card-header'>
                <h3>{{name}}</h3>
              </div>
              <div class='card-body'>
                {{description}}
                <hr />
                <ul>
                  {{#each values}}
                    <li>
                      <div>
                        <strong> {{value}} </strong>
                        -
                        {{description}}
                      </div>
                      <br />
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          {{/each}}
          {{! -JavaScript---------------------------------------------------------------------- }}
          {{#each functions}}
            <div class='card mb-3'>
              <div class='card-header'>
                <h3>{{name}}</h3>
              </div>
              <div class='card-body'>
                {{description}}
                <hr />
                <ul>
                  {{#each parameters}}
                    <li>
                      <div>
                        <b> {{name}}</b>
                        ({{type}})-
                        {{description}}
                      </div>
                      <br />
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/each}}
{{/with}}