<hr class='my-5' />
{{#each goodsBlock}}
  <div class='col-12 g-4 '>
    <div class='card p-2 '>
      <div class='row'>
        <div class='col-1'>
          <div class="card ">
          <img src='{{image}}' alt='' />
          </div>
        </div>
        <div class='col-4 mt-2 ps-5'>
          <h4>{{name}}</h4>
          <p>{{description}}</p>
        </div>
        <div class='col-2 mt-4 ps-5'>
          <p>{{price.title}}:</p>
          <p>{{price.value}}</p>
        </div>
        <div class='col-2 mt-3'>
          <p class="pt-4">{{amount}}</p>
        </div>
        <div class='col-2 pt-1'>
          {{#each buttons}}
            <div class='mt-2'>
              <button class="btn {{#if isPrimary}}btn-primary{{/if}} {{#if isDanger}}btn-outline-danger{{/if}} ">{{text}}</button>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{/each}}