    {{#each goodsList}}
      <div class='col-6 g-2'>
        <div class='card h-100'>
          <img class='card-img-top' src='{{img}}' alt='' />
          <div class='card-body'>
            <div class='mt-3 mb-4'>
              {{#if isHot}}
                <span
                  class='badge text-bg-warning rounded-pill mb-3'
                >HOT</span>
              {{/if}}
              {{#if isNew}}
                <span
                  class='badge text-bg-primary rounded-pill mb-3'
                >New</span>
              {{/if}}
              {{#if isFast}}
                <div>
                  <button
                    class='btn btn-success mb-3'
                  >Швидка доставка</button>
                </div>
              {{/if}}
              {{#if isFree}}
                <div>
                  <button
                    class='btn btn-secondary mb-3'
                  >Безкоштовна доставка</button>
                </div>
              {{/if}}
              <h5>{{name}}</h5>
              <p>{{review.amount}} {{review.text}}</p>
              <h4>{{price}}</h4>
              <p>{{delivery}}</p>
              {{#each buttons}}
                <div class='my-3'>
                   <a
                      class='btn  {{#if isPrimary}} btn-primary {{/if}} {{#if isSecondary}} btn-secondary {{/if}}  }}'
                      href='{{buttons.link}}'
                    >{{text}}</a> 
                </div>
              {{/each}}
            </div>
            <ul>
              {{#each characteristics}}
                <li>{{title}}: {{value}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    {{/each}}