{{! navigation__________________________________________________________________________________ }}
{{#with navigation}}
  <div class='col-8'>
    <h2>{{Logo}}</h2>
  </div>
  <div class='col-4'>
    <div class='nav justify-content-end'>
      {{#each links}}
        {{#if href}}
          <div class='nav-item'>
            <a
              href='{{href}}'
              class='nav-link'
              target='_blank'
            >{{text}}</a>
          </div>
        {{else}}
          <div class='nav-item'>
            <a
              href='#'
              class='nav-link disabled'
            >{{text}}</a>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
{{/with}}
<hr class='my-2 mb-5' />
{{! +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ }}


{{! <div class='nav nav-tabs text-dark mb-5'>
  <div class='nav-item'>
    <a class='nav-link text-dark' href='/shophome'>Home</a>
  </div>
  <div class='nav-item'>
    <a
      class='nav-link text-dark'
      href='/shopproduct'
    >Product</a>
  </div>
  <div class='nav-item'>
    <a class='nav-link text-dark' href='/shopnews'>News</a>
  </div>
  <div class='nav-item'>
    <a
      class='nav-link text-dark'
      href='/shoporder'
    >Order</a>
  </div>
  <div class='nav-item'>
    <a class='nav-link text-dark' href='/shopcart'>Cart</a>
  </div>
  <div class='nav-item'>
    <a
      class='nav-link text-dark'
      href='/Shopprofile'
    >Profile</a>
  </div>
  <div class='nav-item'>
    <a
      class='nav-link text-dark'
      href='/shopreview'
    >Review</a>
  </div>
  <div class='nav-item'>
    <a
      class='nav-link text-dark'
      href='/shopcatalog'
    >Catalog</a>
  </div>
</div>  }}
