{{#with item}}
<section>


  <div>
    <table class='table'>
      <thead>
        <tr>
          {{#each head}}
            <th>{{this}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each body}}

          <tr>
            <th>{{@index}}</th>
            {{#each this}}
              {{#if @first}}{{else}}
                <td>{{this}}</td>
              {{/if}}
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/with}}
{{! param_________________________________________________________________________________________ }}
{{#with param}}
  <div class='card mt-5'>
    <div class='card-header'>
      <h4>{{title}}</h4>
    </div>
    <ul class='list-group list-group-flush'>
      {{#each list}}
        <li class='list-group-item'>
          {{this}}
        </li>
      {{/each}}
    </ul>
  </div>
{{/with}}
{{! actionList__________________________________________________________________________________________ }}
{{#with alert}}
  {{#if isError}}
    <div class='alert alert-danger mt-5'>
      <p class='mt-2'>{{text}}</p>
    </div>
  {{/if}}
{{/with}}
{{! actionList__________________________________________________________________________________________ }}
</section>